<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lx.lamp.mapper.LampMapper">

    <resultMap id="BaseResultMap" type="com.example.lx.lamp.entity.Lamp">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="deviceId" column="device_id" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="delFlag" column="del_flag" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,device_id,status,
        create_time,update_time,del_flag
    </sql>
    <update id="updateStatus">
        update tb_lamp set status = #{status} where device_id = #{deviceId}
    </update>
</mapper>
